{
  "root": true,
  "ignorePatterns": [
    "node_modules/**/*",
    "build/**/*",
    "!.prettierrc",
    "!.eslintrc",
    "!.env",
    "!.env.example"
  ],
  "env": {
    "commonjs": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "requireConfigFile": false,
        "sourceType": "module",
        "ecmaVersion": "latest",
        "project": "./tsconfig.eslint.json"
      },
      "extends": [
        "eslint:recommended",
        "alloy",
        "alloy/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "no-console": "error",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "destructuredArrayIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-var-requires": ["off"],
        "no-unreachable": ["error"],
        "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
        "max-params": ["error", 4]
      }
    }
  ]
}
