{
  "root": true,
  "ignorePatterns": [
    "node_modules/**/*",
    "build/**/*",
    "!.prettierrc",
    "!.eslintrc",
    "!.env",
    "!.env.example"
  ],
  "env": {
    "commonjs": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "requireConfigFile": false,
        "sourceType": "module",
        "ecmaVersion": "latest",
        "project": "./tsconfig.eslint.json"
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "alloy",
        "alloy/typescript",
        "plugin:perfectionist/recommended-natural",
        "plugin:prettier/recommended"
      ],
      "plugins": ["@typescript-eslint", "prettier", "perfectionist"],
      "rules": {
        "no-console": "error",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "destructuredArrayIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-var-requires": ["off"],
        "no-unreachable": ["error"],
        "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
        "max-params": ["error", 4],
        "perfectionist/sort-imports": [
          "error",
          {
            "groups": [
              "side-effect",
              ["type", "builtin-type", "external-type"],
              "internal-type",
              "parent-type",
              "sibling-type",
              ["builtin", "external"],
              "internal",
              "parent",
              "sibling",
              "unknown"
            ]
          }
        ]
      }
    },
    {
      "files": ["**/*.js"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "requireConfigFile": false,
        "sourceType": "module",
        "ecmaVersion": "latest"
      },
      "extends": [
        "eslint:recommended",
        "alloy",
        "plugin:perfectionist/recommended-natural",
        "plugin:prettier/recommended"
      ],
      "plugins": ["prettier", "perfectionist"],
      "rules": {
        "no-console": "error",
        "no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "destructuredArrayIgnorePattern": "^_"
          }
        ],
        "no-unreachable": "error",
        "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
        "perfectionist/sort-imports": [
          "error",
          {
            "groups": [
              "side-effect",
              ["type", "builtin-type", "external-type"],
              "internal-type",
              "parent-type",
              "sibling-type",
              ["builtin", "external"],
              "internal",
              "parent",
              "sibling",
              "unknown"
            ]
          }
        ]
      }
    }
  ]
}
